{% extends "base.html.twig" %}
{% block title %}AFRIQUEBAARA{% endblock %}
{% block body %}
    {% if  app.user.id is defined and app.user.id == userprofile.id and app.user.email == userprofile.email %}  
       
            <main>
                <div class="card">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Mise à jour - Mot de passe</h4>
                    </div>
                    <form method="post">
                        <div class="modal-body mx-3">
                            <div class="md-form mb-5">
                                <input type="password" name="currentpass" id="currentpass" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="currentpass">Mot de passe actuel</label>
                            </div>
                            <div class="md-form mb-5">
                                <input type="password" name="newpass" id="newpass" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="newpass">Nouveau mot de passe</label>
                            </div>
                            <div class="md-form mb-5">
                                <input type="password" id="checknewpass" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="checknewpass">Répéter le nouveau mot de passe </label>
                                <span class="mt-1" id="message"></span>
                            </div>
                          
                        </div>
                        <div class="md-form d-flex justify-content-center">
                            <button class="btn btn-outline-warning btn-sm" role="submit" type="submit" id="update" style="display:none">Modifier</button>
                        </div>
                    </form>
                </div>
            
                
            </main>
            {% else %}
            <script>
                
                 window.location.href='{{path("updatepassuser", {"id":'+'})}}'+{{userprofile.id}};
            </script>
    {% endif %}
{% endblock %}
{% block ScriptP %}
    <script>
       $(document).ready(function(){ 
         $('#checknewpass').on('keyup', function () {
            if ($('#newpass').val() == $('#checknewpass').val()) {
                $('#message').html('Les mots de passe correspondent').css('color', 'green');
                $('#update').css('display','');
            } else{
                $('#message').html('Les mots de passe ne correspondent pas').css('color', 'red');
                $('#update').css('display','none');
            }
            });
       });
    </script>
{% endblock %}

